#supplierhero {

    padding-top: 1rem;
    padding-bottom: 2rem;

    .slider {
        margin-bottom: 1.5rem;
        background: url('images/ATS-SliderHeroImage.jpg');
        background-position: center;
        background-size: cover;
        min-height: 550px;
        border-radius: 5px;
    }

    .supplier-grid {
        display: grid;
        grid-template-columns: 1fr
    }
}

.supplier-box {

    width: 150px;
    height: 150px;
    border: 1px solid #b5b5b5;
    margin: 1rem;
    border-radius: 5px;

    img {
        margin-top: 25px;
    }
}